*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: "Comic Sans MS"
  text-align: center

body
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center

main > p, main > h2
  margin: 1rem 0

form, section
  display: flex
  justify-content: center
input
  text-transform: uppercase 
  width: 2em
  height: 2em
  font-size: 2em
  display: flex
  align-items: center
  justify-content: center
  text-align: center

section > div
  width: 2em
  height: 2em
  font-size: 2em
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border: solid 1px #222
  padding: 1px 2px

.green
  background: green

.yellow
  background: yellow

.red
  background: red

a
    color: #27c3c3
    background: white
    border: solid 4px #27c3c3
    border-radius: 4em
    display: inline-block
    margin: 0 auto
    padding: 1em 1.5em
    text-decoration: none
    &:hover
        background: #27c3c3
        color: white